<img alt="Vampirik Inc logo" src="./assets/Vampirik.svg" class="logo">

<div class="container">
  <div class="form-group">
    <p class="regText">Count:</p>
    <div class="form-group-inner">
      <input readonly class="tBox2" type="text" id="a1">
      <button class="btn" (click)="incc()">Click</button>
    </div>
    <p class="infoText">Track Number of Clicks</p>
  </div>
    <br>
    <div class="form-group">
      <p class="regText2">Palindrome:</p>
      <div class="form-group-inner">
        <input class="tBox" type="text" id="pal" placeholder="Enter Palindrome">
        <textarea readonly class="t2Box" id="a2"></textarea>
      </div>
      <p class="infoText">Check if Palindrome</p>
  </div>
    
</div>